OpenCV Sample - color-blob-detection/.classpath
OpenCV Sample - color-blob-detection/bin/
OpenCV Sample - color-blob-detection/.settings/org.eclipse.jdt.core.prefs
OpenCV Sample - color-blob-detection/gen/
